<!--
    Grid System
    -----------
    1)xs - Phones
    2)sm - Tablets
    3)md - Laptop
    4)lg - Desktop
-->
<html>
<head>
    <title>Grid System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container">
        <h2 class="page-header text-primary text-center">Grid System</h2>
        <div class="row">
            <div class="col-md-1 well">col-1</div>
            <div class="col-md-1 well">col-2</div>
            <div class="col-md-1 well">col-3</div>
            <div class="col-md-1 well">col-4</div>
            <div class="col-md-1 well">col-5</div>
            <div class="col-md-1 well">col-6</div>
            <div class="col-md-1 well">col-7</div>
            <div class="col-md-1 well">col-8</div>
            <div class="col-md-1 well">col-9</div>
            <div class="col-md-1 well">col-10</div>
            <div class="col-md-1 well">col-11</div>
            <div class="col-md-1 well">col-12</div>
        </div>
        <div class="row">
            <div class="col-md-2 well">col-1</div>
            <div class="col-md-2 well">col-2</div>
            <div class="col-md-2 well">col-3</div>
            <div class="col-md-2 well">col-4</div>
            <div class="col-md-2 well">col-5</div>
            <div class="col-md-2 well">col-6</div>
        </div>
        <div class="row">
            <div class="col-md-3 well">col-1</div>
            <div class="col-md-3 well">col-2</div>
            <div class="col-md-3 well">col-3</div>
            <div class="col-md-3 well">col-4</div>
        </div>
        <div class="row">
            <div class="col-md-4 well">col-1</div>
            <div class="col-md-4 well">col-2</div>
            <div class="col-md-4 well">col-3</div>
        </div>
        <div class="row">
            <div class="col-md-5 well">col-1</div>
            <div class="col-md-5 well">col-2</div>
            <div class="col-md-2 well">col-3</div>
        </div>
        <div class="row">
            <div class="col-md-6 well">col-1</div>
            <div class="col-md-6 well">col-2</div>
        </div>
        <div class="row">
            <div class="col-md-12 well">col-1</div>
        </div>
        <div class="row">
            <div class="col-md-5 well">col-1</div>
            <div class="col-md-3 well">col-2</div>
            <div class="col-md-3 well">col-3</div>
            <div class="col-md-1 well">col-4</div>
        </div>
    </div>
</body>
</html>

